html, body {
    width: 100%;
    height: 100%;
    /* remove the extra whites around */
    margin: 0;
}

#canvas {
    width: 100%;
    height: 100%;
}

html {
    background: url("../img/startscreen/front-hotel-street-2.jpg") no-repeat center fixed;
    background-size: cover;
}

.div {
    text-align: center;
}

.title {
    color: #FDD835;
    -webkit-text-stroke: 2px #990000;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    text-shadow: 5px 5px 10px #FF6600;
}

.explanationbutton {
    background-color: #FF0000;
    border: 5px solid #FF6600;
    border-radius: 50%;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 5px 710px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nameInput {
    color: black;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

image {
    width: 50%;
    float: left;
    margin: auto;
    border: 3px;
    display: flex;
    justify-content: center;
}

.startbutton {
    background-color: #FF0000;
    border: 5px solid #FF6600;
    border-radius: 20px;
    color: white;
    padding: 15px 130px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 50px;
    margin: 5px 575px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hidden {
    display: none;
}

.visible {
    display: initial;
}

.block {
    display: block;
}
